<configuration>
  <appSettings>
    <add key="ReportFile" value="C:\MetLife_Sourcecode\Insight3\Call_List_Creation\bin\reminders (5).txt" />
    <add key="ProviderList" value="C:\MetLife_Sourcecode\Insight3\Call_List_Creation\ProviderList.txt" />
    <add key="CustId" value="1116" />
    <add key="Engine" value="IVR" />
    <add key="DefaultAreaCode" value="" />
    <add key="ClinicName" value="IdaKarlin" />
    <add key="DaysPrior" value="1" />
    <add key="EclipseServer" value="" />
    <add key="EclipsePort" value="" />
    <add key="EclipseUsername" value="" />
    <add key="EclipsePassword" value="" />
    <add key="EclipseReportPath" value="/u/pc/input.txt" />
    <!--<add key="Server" value="ftp://clients.clearvoicesoftware.com" />
    <add key="Username" value="hmm" />
    <add key="Password" value="jA0nHkQ" />-->
    <add key="ParseURL" value="" />
    <add key="CallList" value="C:\MetLife_Sourcecode\Insight3\Call_List_Creation\bin\CallListIdaKarlin_20140724-1116.csv" />
    <!--NoneBut: Home phone must end with OK to be called
    AllBut: Home phone is called unless it ends with PRIV -->
    <add key="CallLogic" value="AllBut" />
    <!--If more Meeting Skip Types are needed, add the key value pairs and increase the value of
    MeetingSkipTypeTotal.  The MeetingSkipTypeTotal value should be equal to the number of MeetingSkipType 
    key/value pairs listed, even if the value is "".    -->
    <add key="MeetingSkipTypeTotal" value="19" />
    <add key="MeetingSkipType1" value="" />
    <add key="MeetingSkipType2" value="" />
    <add key="MeetingSkipType3" value="" />
    <add key="MeetingSkipType4" value="" />
    <add key="MeetingSkipType5" value="" />
    <add key="MeetingSkipType6" value="" />
    <add key="MeetingSkipType7" value="" />
    <add key="MeetingSkipType8" value="" />
    <add key="MeetingSkipType9" value="" />
    <add key="MeetingSkipType10" value="" />
    <add key="MeetingSkipType11" value="" />
    <add key="MeetingSkipType12" value="" />
    <add key="MeetingSkipType13" value="" />
    <add key="MeetingSkipType14" value="" />
    <add key="MeetingSkipType15" value="" />
    <add key="MeetingSkipType16" value="" />
    <add key="MeetingSkipType17" value="" />
    <add key="MeetingSkipType18" value="" />
    <add key="MeetingSkipType19" value="" />
  </appSettings>
</configuration>