<configuration>
  <appSettings>
    <add key="ReportType" value="Classic" />
    <!--Options are Insight and Classic-->
    <add key="AppConfigPath" value="C:\MetLife_Sourcecode\Insight3\Call_List_Creation\App.config" />
    <add key="ReportFile" value="C:\METLIFE_SOURCECODE\INSIGHT3\CALL_LIST_CREATION\DATA\FORFTPREPORT.XLS.TXT" />
    <add key="ExceptionFile" value="C:\MetLife_Sourcecode\Insight3\Call_List_Creation\Data\Exception.txt" />
    <add key="CSVFile" value="C:\METLIFE_SOURCECODE\INSIGHT3\CALL_LIST_CREATION\DATA\DOCTORLIST-IDA-KARLIN-7-20-12.CSV" />
    <add key="DataFolderPath" value="C:\MetLife_Sourcecode\Insight3\Call_List_Creation\Data\" />
    <add key="CustId" value="aliciatest" />
    <add key="Engine" value="IVR" />
    <add key="DefaultAreaCode" value="" />
    <add key="CallListFile" value="C:\MetLife_Sourcecode\Insight3\Call_List_Creation\Data\CallList-20120708-aliciatest.csv" />
    <!--ScheduledDaysPrior: Appointments scheduled within this number of days of the appointment will not be called.  If the value is ‘1’ then 
    appointments scheduled on the day of the appointment will not be called. Following the same logic, if the value is ‘2’ 
    then appointments scheduled the day prior to the appointment will not be called.-->
    <add key="ScheduledDaysPrior" value="" />
    <add key="OutputArchive" value="C:\METLIFE_SOURCECODE\INSIGHT3\CALL_LIST_CREATION\DATA\Archive\" />
    <add key="DaysPrior" value="1" />
    <add key="CallHour" value="10" />
    <add key="CallMinute" value="00" />
    <add key="EclipseServer" value="192.168.201.100" />
    <add key="EclipsePort" value="21" />
    <add key="EclipseUsername" value="st1" />
    <add key="EclipsePassword" value="rvps" />
    <add key="EclipseReportPath" value="/u/pc/input.txt" />
    <add key="Server" value="ftp://clients.clearvoicesoftware.com" />
    <add key="BackupServer" value="" />
    <add key="Username" value="hmmcorp" />
    <add key="Password" value="hmmc0rpr0cks" />
    <add key="ParseURL" value="" />
    <add key="BackupParseURL" value="" />
    <!--NoneBut: Home phone must end with OK to be called
    AllBut: Home phone is called unless it ends with PRIV -->
    <add key="CallLogic" value="allbut" />
    <!--If more Meeting Skip Types are needed, add the key value pairs and increase the value of
    MeetingSkipTypeTotal.  The MeetingSkipTypeTotal value should be equal to the number of MeetingSkipType 
    key/value pairs listed, even if the value is "".    -->
    <add key="MeetingSkipTypeTotal" value="19" />
    <add key="MeetingSkipType1" value="LUNCH" />
    <add key="MeetingSkipType2" value="DDS" />
    <add key="MeetingSkipType3" value="MTG" />
    <add key="MeetingSkipType4" value="OPEN" />
    <add key="MeetingSkipType5" value="RK" />
    <add key="MeetingSkipType6" value="T" />
    <add key="MeetingSkipType7" value="" />
    <add key="MeetingSkipType8" value="" />
    <add key="MeetingSkipType9" value="" />
    <add key="MeetingSkipType10" value="" />
    <add key="MeetingSkipType11" value="" />
    <add key="MeetingSkipType12" value="" />
    <add key="MeetingSkipType13" value="" />
    <add key="MeetingSkipType14" value="" />
    <add key="MeetingSkipType15" value="" />
    <add key="MeetingSkipType16" value="" />
    <add key="MeetingSkipType17" value="" />
    <add key="MeetingSkipType18" value="" />
    <add key="MeetingSkipType19" value="" />
    <add key="UseCSV" value="True" />
    <!--The EngineProviders represent the relationship between the provider ids in the report and the
    provider ids in the AppMinder(Engine) database.  For example, 
    <add key="EngineProvider1" value="4"/> means that Provider ID 1 in the AppMinder database is
    equal to Provider ID 4 in the report.
     If more EngineProviders are needed, add the key value pairs and increase the value of
    EngineProviderTotal.  The EngineProviderTotal value should be equal to the number of EngineProvider 
    key/value pairs listed, even if the value is "".    -->
    <add key="EngineProviderTotal" value="20" />
    <add key="EngineProvider1" value="999" />
    <add key="EngineProvider2" value="54" />
    <add key="EngineProvider3" value="41" />
    <add key="EngineProvider4" value="59" />
    <add key="EngineProvider5" value="59I" />
    <add key="EngineProvider6" value="58" />
    <add key="EngineProvider7" value="37" />
    <add key="EngineProvider8" value="52I" />
    <add key="EngineProvider9" value="63" />
    <add key="EngineProvider10" value="63I" />
    <add key="EngineProvider11" value="29I" />
    <add key="EngineProvider12" value="31" />
    <add key="EngineProvider13" value="46" />
    <add key="EngineProvider14" value="60" />
    <add key="EngineProvider15" value="66" />
    <add key="EngineProvider16" value="48I" />
    <add key="EngineProvider17" value="22I" />
    <add key="EngineProvider18" value="29I" />
    <add key="EngineProvider19" value="61I" />
    <add key="EngineProvider20" value="" />
  </appSettings>
</configuration>